.header {
  text-align: center;
  font-size: 8rem;
}

.buttons {
  position: fixed;
  padding: 20px;
}

.button {
  margin-left: 30px;
  font-size: 5rem;
  width: 100px;
}

.select {
  margin-left: 30px;
  font-size: 5rem;
  height: 100%;
}

.link {
  margin-left: 30px;
  padding: 20px;
  font-size: 4rem;
  background: lightblue;
  color: white;
}

.hint {
  position: fixed;
  left: 20px;
  bottom: 20px;
  margin: 30px;
  font-size: 5rem;
  font-weight: 700;
  color: darkgray;
}
